{% extends "base.html" %}
{% block title %}{{ trial.title }}{% endblock %}
{% block nav %}<a href="/trials">List of Trials</a>{% endblock %}
{% block body %}
<p>{{ trial.desc }}</p>
    
<ul>
{% if trial.options is defined and trial.options['map url'] %}
   <li><a href="{{ trial.options['map url'] }}">Map URL</a></li>
{% else %}
   <li>Map Size: {{ MAPSIZE[trial.map_size] }} </li>
   <li>Society: {{ SOCIETY[trial.society] }} </li>
   {% if trial.options is defined %}
      {% for k in trial.options %}
         <li>{{ k }}: {{ trial.options[k] }}</li>
      {% endfor %}
   {% endif %}
{% endif %}
</ul>

<table><tr><th>Player</th><th>Team</th><th>AI</th><th>Class</th></tr>
{% for p in players %}
<tr><td>{{ p[0] }}</td><td>{{ p[3] }}</td><td>{{ AI[p[2]] }}</td><td>{{ CLASS[p[1]] }}</td></tr>
{% endfor %}
</table> 
{% endblock %}
